@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $greyBackground;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
  }

  &__preloader {
    display: block;
    border: 10px solid $greyColor;
    border-top-color: $blueColor;
    border-bottom-color: $blueColor;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.75s infinite linear;
  }

  &__caption {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
  }

  &.hide {
    display: none;
  }
}
