.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  background: $greyBackground;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  &__caption {
    margin: 0;
    max-width: 340px;
    font-family: 'RobotoSlab-Regular';
    font-weight: 400;
    font-size: 2.5rem;
    color: $blackColor;
    text-align: center;
  }

  &__technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
  }

  &__icon {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .stack {
    &__wrapper {
      flex-direction: column;
    }
  }
}
