.swiper {
  &-container {
    width: 100%;
    height: 100%;
  }

  &-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 0.5rem;
    height: 80%;
    background: $whiteColor;

    &__date {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: $greyColor;
    }

    &__author {
      display: flex;
      align-items: center;
    }

    &__avatar {
      margin-right: 1rem;
      width: 64px;
      height: 64px;

      img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__name {
      margin-bottom: 0.5rem;
      font-family: 'RobotoSlab-Regular';
      font-weight: 400;
      font-size: 1.5rem;
    }

    &__email {
      margin: 0;
      font-family: 'Roboto-Regular';
      font-weight: 400;
    }

    &__description {
      font-family: 'Roboto-Regular';
      font-weight: 400;
    }
  }
}
