.analytics {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
}

.analytics__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 87%;
}

.analytics__caption {
  margin: 0;
  margin-bottom: 14px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.analytics__list {
  margin: 0;
  padding: 0;
}

.analytics__item {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
}

.analytics__count {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1023px) {
  .analytics {
    padding: 40px 0;
  }

  .analytics__caption {
    font-size: 32px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .analytics {
    padding: 25px 0;
  }

  .analytics__wrapper {
    max-width: 90%;
  }

  .analytics__caption {
    margin-bottom: 16px;
  }
}
