.commits {
  position: relative;
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
}

.commits__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 87%;
}

.commits__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}

.commits__caption {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.commits__analytics {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.commits__background-grey {
  background: #f5f6f7;
}

.commits__text-black {
  color: #1a1b22;
}

@media screen and (max-width: 1240px) {
  .commits {
    padding: 40px 0;
  }

  .commits__block {
    margin-bottom: 32px;
  }

  .commits__caption {
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .commits {
    padding: 30px 0;
  }

  .commits__wrapper {
    max-width: 90%;
  }

  .commits__block {
    margin-bottom: 16px;
  }

  .commits__arrow {
    display: none;
  }

  .commits__analytics {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 50;
    margin-bottom: 32px;
    border: 1px solid #000;
    border-radius: 80px;
    padding: 15px 69px;
    width: 0 auto;
    white-space: nowrap;
    transform: translateX(-50%);
  }
}
