.commits {
  margin: auto;
  padding: 70px 0;
}

.commits__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 85%;
}

.commits__inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.commits__caption {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.commits__analytics {
  margin: 0;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
