.customer {
  margin: auto;
  padding: 80px 0;
}

.cusotmer__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 85%;
}

.customer__caption {
  margin: 0;
  margin-bottom: 24px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.customer__info {
  max-width: 815px;
}

.customer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
