.customer {
  margin: auto;
  padding: 80px 0;
}

.cusotmer__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 87%;
}

.customer__caption {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.customer__info {
  max-width: 815px;
}

.customer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1240px) {
  .customer {
    padding: 30px 0;
  }
  .customer__caption {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .cusotmer__wrapper {
    max-width: 90%;
  }
}
