.footer {
  margin: auto;
  padding: 25px 0;
}

.footer__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 87%;
}

.footer__copyright {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.footer__nav-item {
  text-decoration: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__nav-item:nth-child(2) {
  margin: 50px 50px;
}

.footer__link:last-child {
  margin-left: 27px;
}

@media screen and (max-width: 1024px) {
  .footer__nav-item:nth-child(2) {
    margin: 25px 25px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }

  .footer__wrapper {
    max-width: 90%;
  }

  .footer__copyright {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer__links {
    position: absolute;
    top: 0;
    right: 0;
  }

  .footer__navigation {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 485px) {
  .footer__nav-item:nth-child(2) {
    margin: 0;
  }

  .footer__nav-item {
    line-height: 48px;
  }

  .footer__navigation {
    display: flex;
    flex-direction: column;

    max-width: 184px;
  }
}
