.footer {
  margin: auto;
  padding: 25px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 85%;
}

.footer__copyright {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.footer__navigation {
  margin: auto;
}

.footer__nav {
  margin: 0;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__nav:nth-child(2) {
  margin: 50px 50px;
}

.footer__links {
  margin: 0;
}

.footer__link {
  margin: 0;
}

.footer__link:last-child {
  margin-left: 30px;
}

.footer__icon {
  margin: 0;
}
