.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 25px 0;
  width: 100%;
}

.footer__copyright {
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer__navigation {
  margin: auto;
}

.footer__nav {
  margin: auto;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
}

.footer__nav:nth-child(2) {
  margin: 50px 50px;
}

.footer__links {
  margin: auto;
}

.footer__link {
  margin: auto;
}

.footer__link:last-child {
  margin-left: 30px;
}

.footer__icon {
  margin: auto;
}
