.graphic {
  margin: auto;
  padding: 80px 0;
}

.graphic__wrapper {
  margin: auto;
  max-width: 85%;
}

.graphic__caption {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.graphic__block_head {
  display: flex;
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border-bottom: 1px solid #1a1b22;
}

.graphic__block_date {
  width: 60px;
  margin-right: 40px;
}

.graphic__row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 0 92px;
}

.row__cell {
  margin: 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

.graphic__columns {
  display: flex;
}

.graphic__columns_y {
  width: 104px;
}

.graphic__column_y {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  color: #1a1b22;
  line-height: 24px;
}

.graphic__column_y:not(:first-child) {
  margin-top: 56px;
}

.graphic__column_y:first-child {
  margin: 18px 0 0;
}

.graphic__columns_x {
  width: 100%;
}

.graphic__column_x {
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: #ffffff;
  font-weight: 700;
  background: #2f71e5;
  padding: 4px 0 4px 6px;
  margin-bottom: 0;
  margin-top: 56px;
}

.graphic__column_x:nth-child(1) {
  margin-top: 18px;
  width: 15%;
}

.graphic__column_x:nth-child(2) {
  width: 18%;
}

.graphic__column_x:nth-child(3) {
  width: 11%;
}

.graphic__column_x:nth-child(4) {
  width: 39%;
}

.graphic__column_x:nth-child(5) {
  width: 45%;
}

.graphic__column_x:nth-child(6) {
  width: 73%;
}

.graphic__column_x:nth-child(7) {
  width: 34%;
}

@media screen and (max-width: 1023px) {
  .graphic {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .graphic__wrapper {
    max-width: 90%;
  }

  .graphic {
    padding: 25px 0;
  }

  .graphic__row {
    display: none;
  }
}
