.graphic {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
}

.graphic__wrapper {
  margin: 0 auto;
  max-width: 87%;
}

.graphic__caption {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.graphic__block_head {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border-bottom: 1px solid #1a1b22;
}

.graphic__block_date {
  width: 60px;
  margin-right: 40px;
}

.graphic__row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 0 92px;
}

.row__cell {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.graphic__columns {
  display: flex;
}

.graphic__columns_y {
  width: 104px;
}

.graphic__column_y {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.graphic__column_y:not(:first-child) {
  margin-top: 56px;
}

.graphic__column_y:first-child {
  margin: 18px 0 0;
}

.graphic__columns_x {
  width: 100%;
}

.graphic__column_x {
  display: flex;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 0;
  padding: 4px 0 4px 6px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  background: #2f71e5;
}

.graphic__column_x:nth-child(1) {
  margin-top: 18px;
}

.graphic__text-white {
  color: #ffffff;
}

.graphic__text-black {
  color: #1a1b22;
}

.graphic__text-grey {
  color: #b6bcbf;
}

.graphic__background-grey {
  background: #f5f6f7;
}

@media screen and (max-width: 1023px) {
  .graphic {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .graphic {
    padding: 25px 0;
  }

  .graphic__wrapper {
    max-width: 90%;
  }

  .graphic__caption {
    margin-bottom: 16px;
  }

  .graphic__row {
    display: none;
  }
}
