.header {
  margin: 0 auto;
  padding: 25px 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 87%;
}

.header__caption {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__list-item {
  list-style-type: none;
}

.header__main {
  margin: 0 auto;
  margin-right: 34px;
  padding-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header__about {
  margin: 0 auto;
  padding-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header a.header__active-main {
  border-bottom: 2px solid #fff;
}

.header a.header__active-about {
  border-bottom: 2px solid #000;
}

.header__text-white {
  color: #fff;
}

.header__text-grey {
  color: #b6bcbf;
}

.header__text-black {
  color: #1a1b22;
}

.header__shadow-lighter {
  box-shadow: inset 0 -1px 0 #d1d2d6;
}

.header__shadow-darker {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.header__hover-white:hover {
  color: #fff;
}

.header__hover-black:hover {
  color: #1a1b22;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px 0;
  }

  .header__wrapper {
    max-width: 90%;
  }

  .header__caption {
    font-size: 16px;
    line-height: 24px;
  }

  .header__main {
    margin-right: 11px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 24px;
  }

  .header__about {
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 24px;
  }
}
