.header {
  margin: 0 auto;
  padding: 25px 0;
  width: 100%;
}

.header a.active__main {
  border-bottom: 2px solid #ffffff;
}

.header a.active__about {
  border-bottom: 2px solid #000000;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 87%;
}

.header__caption {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__main {
  margin: 0 auto;
  margin-right: 34px;
  padding-bottom: 25px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header__about {
  margin: 0 auto;
  padding-bottom: 25px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px 0;
  }

  .header__wrapper {
    max-width: 90%;
  }

  .header__caption {
    font-size: 16px;
    line-height: 24px;
  }

  .header__main {
    margin-right: 11px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 17px;
  }

  .header__about {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 17px;
  }
}
