@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
  display: none;
}

.loading__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.loading__preloader {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  border-radius: 50%;
  border-bottom-color: #888;
  animation: spin 0.75s infinite linear;
}

.loading__text {
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.loading__background-grey {
  background: #f5f6f7;
}

.loading__text-grey {
  color: #b6bcbf;
}

@media screen and (max-width: 1023px) {
  .loading {
    padding: 40px 0;
  }
}
