.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Roboto', 'Roboto Slab', 'Source Sans Pro', Arial, Helvetica,
    sans-serif;
}
