.page {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  font-family:
    'Roboto',
    'Roboto Slab',
    'Source Sans Pro',
    'Arial',
    'Helvetica',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.page__main {
  background-image: url('../../images/background.png');
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  .page__main {
    height: 546px;
  }
}

@media screen and (max-width: 767px) {
  .page__main {
    height: 492px;
  }
}

@media screen and (max-width: 424px) {
  .page__main {
    height: 517px;
  }
}

@media screen and (max-width: 333px) {
  .page__main {
    height: 542px;
  }
}
