.result {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
  /* display: none; */
}

.result__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 87%;
}

.result__inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  width: 100%;
}

.result__caption {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.result__analytics {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.result__cards {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.result__card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 8px;
  max-width: 400px;
  border-radius: 16px;
  background: #fff;
}

.result__pictures {
  width: 100%;
}

.result__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 23px;
  margin-right: 23px;
  height: 100%;
}

.result__date {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.result__name {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.result__text {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.result__from {
  margin-bottom: 24px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.result__button {
  margin-top: 65px;
  padding: 20px 84px;
  max-width: 290px;
  border: 1px solid transparent;
  border-radius: 80px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  cursor: pointer;
  background: #fff;
}

.result__button:hover {
  box-shadow: 0px 5px 15px rgba(131, 152, 207, 0.5);
  transition: box-shadow 1s ease;
}

@media screen and (max-width: 1023px) {
  .result {
    padding: 40px 0;
  }

  .result__card {
    min-height: 420px;
    margin: 4px;
  }

  .result__name {
    font-size: 22px;
    line-height: 24px;
  }

  .result__inline {
    margin-bottom: 32px;
  }

  .result__button {
    margin-top: 25px;
  }

  .result__caption {
    font-size: 30px;
    line-height: 34px;
  }

  .result__analytics {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .result {
    padding: 30px 0;
  }

  .result__inline {
    flex-wrap: wrap;
  }

  .result__wrapper {
    max-width: 90%;
  }

  .result__cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .result__button {
    margin-top: 15px;
    padding: 15px 80px;
    font-size: 18px;
    line-height: 24px;
  }

  .result__from {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 557px) {
  .result__caption {
    margin-bottom: 16px;
  }
}
