.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.search__question {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.search__info {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
