.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 87%;
}

.search__block {
  margin-top: 80px;
  margin-bottom: 64px;
}

.search__caption {
  margin: 0;
  margin-bottom: 32px;
  max-width: 545px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.search__info {
  margin: 0;
  max-width: 545px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.search__form {
  position: relative;
  margin: auto;
  margin-bottom: 80px;
  max-width: 610px;
}

.search__input {
  margin: 0 auto;
  min-width: 548px;
  min-height: 64px;
  padding: 20px 25px;
  border: 1px solid #d1d2d6;
  border-radius: 100px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  backdrop-filter: blur(8px);
  outline: none;
}

.search__button {
  position: absolute;
  right: -63px;
  margin: 0 auto;
  width: 168px;
  min-height: 66px;
  padding: 20px 25px;
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  background: #347eff;
  cursor: pointer;
}

.search__button:hover {
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.5);
  transition: box-shadow 1s ease;
}

.search__text-white {
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .search__caption {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }

  .search__info {
    max-width: 452px;
    font-size: 18px;
    line-height: 24px;
  }

  .search__input {
    min-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .search__wrapper {
    max-width: 90%;
  }

  .search__block {
    margin-top: 30px;
  }

  .search__info {
    font-size: 20px;
    line-height: 26px;
  }

  .search__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .search__input {
    margin-bottom: 16px;
    padding: 15px 25px;
    min-width: 288px;
    min-height: 54px;
  }

  .search__button {
    position: initial;
    padding: 15px 25px;
    min-width: 288px;
    min-height: 54px;
  }
}
