@font-face {
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
}
