section.analytics
  .analytics__wrapper
    h1.analytics__caption
    ul.analytics__list
      li.analytics__item Новостей за неделю: 
        span.analytics__week
      li.analytics__item Упоминаний в заголовках: 
        span.analytics__amount