section.author
  .author__wrapper
    .author__block
    .author__block
      h2.author__caption Об авторе
      p.author__text Добрый день. Меня зовут Павел Овечкин и это моя дипломная работа, которая демонстрирует мои навыки и знания в области фронтенд-разработки.
      p.author__text После семи месяцев обучения, я научился работать с языком гипертекстовой разметки, языком стилей и языком программирования JavaScript. Процесс обучения у Яндекс.Практикума представлял из себя выполнение самостоятельных работ: от простой одностраничной верстки, до создания современного веб-приложения. С ними вы можете ознакомиться в моем профиле на GitHub.
        