section.commits
  .commits__wrapper
    .commits__block
      h2.commits__caption История коммитов из GitHub
      a.commits__link(href='https://github.com/opv1/analyzer/commits/master', target='_blank', rel='noopener noreferrer') Открыть в GitHub 
        span.commits__arrow ›
    .commits__swiper
      .swiper-container
        .swiper-wrapper
        .swiper-pagination