section.error.hide
  .error__block
    h3.error__caption Во время запроса произошла ошибка
    p.error__text Возможно, проблема с соединением или сервер недоступен. Подождите немного и попробуйте ещё раз.