footer.footer
  .footer__wrapper
    span.footer__copyright © 2021. Павел Овечкин
    nav.footer__navigation
      ul.footer__list
        li.footer__item
          a.footer__link(href='index.html') Главная
        li.footer__item
          a.footer__link(href='about.html') О проекте
        li.footer__item
          a.footer__link(href='https://praktikum.yandex.ru', target='_blank', rel='noopener noreferrer') Яндекс.Практикум
    .footer__icons
      a.footer__icon(href='https://github.com/opv1', target='_blank', rel='noopener noreferrer')
        img(src=require('assets/images/github.svg').default, alt='GitHub')
      a.footer__icon(href='https://www.facebook.com', target='_blank', rel='noopener noreferrer')
        img(src=require('assets/images/fb.svg').default, alt='Facebook')