section.graphic
  .graphic__wrapper
    h3.graphic__caption Аналитика по дням
    .graphic__container
      .graphic__block
        .graphic__date Дата:
        .graphic__amount Кол-во упоминаний
      .graphic__row
        .graphic__empty
        .graphic__inline
          span.graphic__cell 0
          span.graphic__cell 25
          span.graphic__cell 50
          span.graphic__cell 75
          span.graphic__cell 100
      .graphic__columns
        .graphic__columns__y
        .graphic__columns__x
      .graphic__row
        .graphic__empty
        .graphic__inline
          span.graphic__cell 0
          span.graphic__cell 25
          span.graphic__cell 50
          span.graphic__cell 75
          span.graphic__cell 100