header.header
  .header__wrapper
    .header__container
      a.header__brand(href='index.html') NewsAnalyzer
      nav.header__navigation
        ul.header__list
          li.header__item
            a.header__link(href='index.html') Главная
          li.header__item
            a.header__link(href='about.html') О проекте