header.header
  .header__wrapper
    .header__container
      a.header__brand(href='index.html') NewsAnalyzer
      nav.header__navigation
        ul.header__list
          li.header__item
            a.header__link(href='index.html') Главная
          li.header__item
            a.header__link(href='about.html') О проекте
      //-   .header__burger
      //-     .header__burger__line
      //-     .header__burger__line
      //-     .header__burger__line
      //- nav.header__sidedrawer
      //-   ul.header__sidedrawer__list
      //-     li.header__sidedrawer__item
      //-       a.header__sidedrawer__link(href='index.html') Главная
      //-     li.header__sidedrawer__item
      //-       a.header__sidedrawer__link(href='about.html') О проекте
      //-   .header__times
      //-     .header__times__line
      //-     .header__times__line