section.nfound.hide
  .nfound__block
    .nfound__image
      img(src=require('assets/images/not-found.svg').default, alt='Ничего не найдено')
    h3.nfound__caption Ничего не найдено
    p.nfound__text К сожалению по вашему запросу ничего не найдено.