section.result.hide
  .result__wrapper
    .result__block
      h2.result__caption Результаты поиска
      a.result__link(href='analytics.html') Посмотреть аналитику 
        span.result__arrow ›
    .result__container
    button.result__button(name='button') Показать еще