section.search
  .search__wrapper
    .search__block
      h1.search__caption Что в мире творится?
      h2.search__subcaption Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю
      form.search__form(name='search')
        input.search__input(type='text', name='input', placeholder='Введите тему', minlength='2', maxlength='15', required)
        button.search__button(type='submit', name='button') Искать