section.stack
  .stack__wrapper
    h2.stack__caption Используемые технологии
    .stack__block
      img.stack__icon(src=require('assets/images/html.svg').default, alt='HTML')
      img.stack__icon(src=require('assets/images/css.svg').default, alt='CSS')
      img.stack__icon(src=require('assets/images/js.svg').default, alt='JavaScript')
      img.stack__icon(src=require('assets/images/webpack.svg').default, alt='Webpack')